<div class="jumbotron text-center" style="background-color:#fff">
  <p class="lead">Altamira couldn't access the EDF you specified.</p>
  <p>Sign in to <a href="<%= config_reader.url %>" target="_blank"><%= config_reader.url %></a>, and check that you have an <span class="label label-success">approved</span> DAUA for the specified EDF's dataset.</p>
</div>
