<div class="jumbotron" style="text-align:center;background-color:#fff">
  <p>We're sorry, Altamira couldn't access the EDF you specified.</p>
  <p>Please make sure you are signed in to <a href="<%= config_reader.url %>" target="_blank"><%= config_reader.url %></a>, and that you have an <span class="label label-success">approved</span> DAUA for the specified EDF's dataset.</p>
</div>
